@import 'uview-ui/theme.scss';

// ==============================
// custom
// ==============================
$color-green: #41b07e;
$color-info: #8799a3;
$color-white: #fff;

view[class|='page'] {
    color: $color-info;
    font-size: 28rpx;
}

view[class^='page'] {
    &:not([class$='page-home']) {
        padding: 0 20rpx;
    }
}

.btn-items {
    .u-btn {
        margin: 20rpx 0;
    }
}

.center {
    text-align: center;
    padding: 10rpx 0;
}

.virtual-list-container {
    background: #f3f4f6;
}

.item-virtual {
    line-height: 50px;
    min-height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    color: #fff;
    overflow: hidden;

    > .content {
        border-radius: 10px;
        margin: 10px;
    }
}

// ==============================
// uview ui
// ==============================
.u-btn {
    background-color: $color-green !important;
    color: $color-white !important;

    &.u-default-hover {
        background-color: rgba($color-green, 0.5) !important;
        color: $color-white !important;
    }
}

.u-navbar {
    background-color: $color-green !important;

    .u-title {
        color: $color-white !important;
    }
    /*  #ifdef  MP-QQ  */
    .u-navbar-placeholder {
        display: none;
    }
    /*  #endif  */
}

.u-load-more-wrap {
    padding: 40rpx 0;
}
